# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://gtawaijiinjkwjpzrdvn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_D7S48MJLxTkdwqdJK2al_Q_1HOJ6wvN

# Admin WhatsApp
NEXT_PUBLIC_ADMIN_PHONE_NUMBER=905439136096
