# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://qzcbuukvnxgsaozzzcwb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_WWbD1oYMoL4YlaQ08KgZkw_K4fsnkDB

# Admin WhatsApp
NEXT_PUBLIC_ADMIN_PHONE_NUMBER=905452544951
